@import 'bootstrap/dist/css/bootstrap.min.css';
.object-fit-cover {
    object-fit: cover;
}

.hover-opacity-100 {
    transition: opacity 0.3s ease;
}

a:hover .hover-opacity-100 {
    opacity: 1 !important;
}
