@import 'bootstrap/dist/css/bootstrap.min.css';
.btn-main {
    background-color: #1d1d1f;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    padding: 8px 20px;
}

.btn-main:hover {
    background-color: #000;
}


/* Estilo para las imágenes */

.object-fit-cover {
    object-fit: cover;
}

img.rounded-circle {
    border: 5px solid #fff;
}


/* Paginación */

.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Paginación activa */

.pagination .page-item.active .page-link {
    background-color: #1d1d1f;
    color: white;
    border: none;
}


/* Estilo para los formularios */

form .form-control {
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}

form .form-control:focus {
    border-color: #d4a52d;
    box-shadow: 0 0 5px rgba(212, 165, 45, 0.5);
}

form .form-label {
    font-weight: 600;
    color: #333;
}

form button {
    background-color: #1d1d1f;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
}

form button:hover {
    background-color: #000;
}

form textarea {
    resize: none;
}


/* Estilo común para todos los inputs y dropdowns */

input.form-control,
select.form-select {
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    /* Aseguramos que todos tengan el mismo padding */
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho */
}


/* Estilo de focus para inputs y selects */

input.form-control:focus,
select.form-select:focus {
    background-color: #fff;
    border-color: #d4a52d;
    box-shadow: 0 0 5px rgba(212, 165, 45, 0.5);
}


/* Estilo para el botón Buscar */

.btn-main {
    background-color: #1d1d1f;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    padding: 8px 20px;
}

.btn-main:hover {
    background-color: #000;
}


/* Testimonios */

.testimonial {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.testimonial p {
    font-style: italic;
    color: #555;
}

.testimonial h5 {
    font-weight: 600;
    color: #333;
}

.testimonial .text-muted {
    color: #888;
}

.heroSwiper .swiper-slide {
    position: relative;
}
